#all-images {
	display: grid;
	grid-template-columns: 2fr 8fr;

}

#list-panel {
	height: 100vh;
  width: 220px;
  overflow-y: scroll;
	background-color: rgb(218,248,236);
}

#list-panel img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

#list-panel img {
	padding: 12px;
	cursor: pointer;
	margin: auto;
}

#list-panel div {
	display: flex;
}

#show-panel {
	padding: 45px;
}

header {
	display: block;
}


#logo {
     width: 300px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 h3 {text-align: center;
   font-family: 'Dancing Script';
}

p {text-align: center;
	font-family: 'Old Standard TT';
}

header {
	border-style: hidden hidden solid;
   border-color: black;
}

h2 {
	font-family: 'Old Standard TT';
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: grey;
}

button {
		 border: 2px solid #555555;
		 font-family: 'Pontano Sans';
		 background-color: #555555;
	   color: white;
	   padding: 15px 32px;
	   text-align: center;
	   text-decoration: none;
	   display: inline-block;
	   font-size: 16px;
		 -webkit-transition-duration: 0.4s;
	   transition-duration: 0.4s;
	}

	button:hover {
   background-color: white;
   color: #555555;
}

#images {
	display: flex;
	flex-direction: column;
}

#filter-div {
	display: flex;
}

#wish-list-filter {
  width: 180px;
  font-size: 0.9em;
	margin: 45px auto;

}
